<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <form class="user-form" action="/users" method="POST">
            <div class="form-control">
                <label for="title">Username</label>
                <input type="text" name="username" id="username">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
<%- include('includes/end.ejs') %>