<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (users.length > 0) { %>
            <ul>
                <% for (let user of users) { %>
                    <li><%= user.user.username %></li>
                <% } %>
            </ul>
        <% } else { %>
            <h1>There is no any user!</h1>
        <% } %>
<%- include('includes/end.ejs') %>